@keyframes exit {
    0%{cursor: url(../../res/cursor/exit0.png) 51 26, default;}
    11%{cursor: url(../../res/cursor/exit1.png) 51 26, default;}
    22%{cursor: url(../../res/cursor/exit2.png) 51 26, default;}
    33%{cursor: url(../../res/cursor/exit3.png) 51 26, default;}
    44%{cursor: url(../../res/cursor/exit4.png) 51 26, default;}
    55%{cursor: url(../../res/cursor/exit5.png) 51 26, default;}
    66%{cursor: url(../../res/cursor/exit6.png) 51 26, default;}
    77%{cursor: url(../../res/cursor/exit7.png) 51 26, default;}
    88%{cursor: url(../../res/cursor/exit8.png) 51 26, default;}
    100%{cursor: url(../../res/cursor/exit0.png) 51 26, default;}
}
/*
@keyframes left {
    0%{cursor: url(../res/cursor/left0.png) 1 19, default;}
    10%{cursor: url(../res/cursor/left1.png) 1 19, default;}
    20%{cursor: url(../res/cursor/left2.png) 1 19, default;}
    30%{cursor: url(../res/cursor/left3.png) 1 19, default;}
    40%{cursor: url(../res/cursor/left4.png) 1 19, default;}
    50%{cursor: url(../res/cursor/left5.png) 1 19, default;}
    60%{cursor: url(../res/cursor/left6.png) 1 19, default;}
    70%{cursor: url(../res/cursor/left7.png) 1 19, default;}
    80%{cursor: url(../res/cursor/left8.png) 1 19, default;}
    90%{cursor: url(../res/cursor/left9.png) 1 19, default;}
    100%{cursor: url(../res/cursor/left0.png) 1 19, default;}
}
@keyframes right {
    0%{cursor: url(../res/cursor/right0.png) 34 19, default;}
    10%{cursor: url(../res/cursor/right1.png) 34 19, default;}
    20%{cursor: url(../res/cursor/right2.png) 34 19, default;}
    30%{cursor: url(../res/cursor/right3.png) 34 19, default;}
    40%{cursor: url(../res/cursor/right4.png) 34 19, default;}
    50%{cursor: url(../res/cursor/right5.png) 34 19, default;}
    60%{cursor: url(../res/cursor/right6.png) 34 19, default;}
    70%{cursor: url(../res/cursor/right7.png) 34 19, default;}
    80%{cursor: url(../res/cursor/right8.png) 34 19, default;}
    90%{cursor: url(../res/cursor/right9.png) 34 19, default;}
    100%{cursor: url(../res/cursor/right0.png) 34 19, default;}
}
*/
@keyframes take {
    0%{cursor: url(../../res/cursor/take1.png) 28 48, default;}
    13%{cursor: url(../../res/cursor/take2.png) 28 48, default;}
    26%{cursor: url(../../res/cursor/take2.png) 28 48, default;}
    40%{cursor: url(../../res/cursor/take4.png) 28 48, default;}
    52%{cursor: url(../../res/cursor/take5.png) 28 48, default;}
    64%{cursor: url(../../res/cursor/take6.png) 28 48, default;}
    76%{cursor: url(../../res/cursor/take7.png) 28 48, default;}
    88%{cursor: url(../../res/cursor/take8.png) 28 48, default;}
    100%{cursor: url(../../res/cursor/take9.png) 28 48, default;}
}
@keyframes use {
    0%{cursor: url(../../res/cursor/use0.png) 23 28, default;}
    11%{cursor: url(../../res/cursor/use1.png) 23 28, default;}
    22%{cursor: url(../../res/cursor/use2.png) 23 28, default;}
    33%{cursor: url(../../res/cursor/use3.png) 23 28, default;}
    44%{cursor: url(../../res/cursor/use4.png) 23 28, default;}
    55%{cursor: url(../../res/cursor/use5.png) 23 28, default;}
    66%{cursor: url(../../res/cursor/use6.png) 23 28, default;}
    77%{cursor: url(../../res/cursor/use7.png) 23 28, default;}
    88%{cursor: url(../../res/cursor/use8.png) 23 28, default;}
    100%{cursor: url(../../res/cursor/use9.png) 23 28, default;}
}