
@import "../../lib/JST/dom/gui.css";

@import "./cursors.css";

@import "./textPages.css";
@import "./menu.css";

:root {
    --APPWIDTH: 1000px;
    --APPHEIGHT: 700px;

    --INTRO_BLUR: 100px;

    /* COLORS */
    --HIGHLIGHT: rgba(255, 0, 0, 0.5);
}



html {background: linear-gradient(to top, #403b4a, #e7e9bb, #403b4a) no-repeat center center fixed; background-size: cover;}

.Application {

    width: var(--APPWIDTH);
    height: var(--APPHEIGHT);

    cursor: url(../../res/cursor/default.png) 4 4, default;
    font-family: sans-serif;
    background: #ffffff;
    border-radius: 10px;

}

.Application .InGameUI {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(5% - 5px) 1fr calc(10% - 5px);
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

/* @deprecated
.Application .InGameUI > .Overlay {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: #000;
    color: #ffffff;
}
.Application .InGameUI > .Overlay .Title {
    font-size: 2em;
    margin-bottom: 5%;
}
.Application .InGameUI > .Overlay .Text {
}
.Application .InGameUI > .Overlay .Hint {
    position: absolute;
    bottom: 1%;
    font-size: 0.8em;
}
*/

.Application .InGameUI > .Title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.Application .InGameUI > .Scene {
    grid-column-start: 1;
    grid-row-start: 2;
    border-right: 1px solid #000000;
    padding: 5px;

    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    gap: 10px;
    
}
.Application .InGameUI > .Scene .Element {
    display: block;
    width: 45%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 0.9em;
    padding-left: 5px;
}
.Application .InGameUI > .Scene .Element.Exit {
    animation: exit 0.8s infinite;
}
.Application .InGameUI > .Scene .Element.Look {
    cursor: url(../../res/cursor/look.png) 12 12, default;
}
.Application .InGameUI > .Scene .Element.Take {
    animation: take 0.8s infinite;
}
.Application .InGameUI > .Scene .Element.Talk {
    cursor: url(../../res/cursor/talk.png) 14 13, default;
}
.Application .InGameUI > .Scene .Element.Use {
    animation: use 0.5s infinite;
}
.Application .InGameUI > .Scene .Element .Name {
    display: block;
    font-weight: bold;
}
.Application .InGameUI > .Scene .Element .Information {
    display: block;
    font-style: italic;
    margin-top: -2px;
}

.Application .InGameUI > .Log {
    grid-column-start: 2;
    grid-row-start: 2;
    border-left: 1px solid #000000;
    padding: 5px;

    overflow: auto;
    scrollbar-color: #888 #fff;
    scrollbar-width: thin;
}
.Application .InGameUI > .Log .Message {
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #888888;
}
.Application .InGameUI > .Log .Message:hover {
    color: #000000;
}
.Application .InGameUI > .Log .Message:first-child {
    color: #000000;
    font-size: 0.9em;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
.Application .InGameUI > .Log .Message .Narrator {
    font-weight: bold;
}
.Application .InGameUI > .Log .Message .Narrator::after {
    content: ":";
    margin-right: 10px;    
}
.Application .InGameUI > .Log .Message .Text {
    font-family: sans-serif;    
}

.Application .InGameUI > .Inventory {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    border-top: 2px solid #000000;
    margin-top: 5px;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    gap: 10px;
    align-content: flex-start;

}
.Application .InGameUI > .Inventory .Item {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 0.8em;
    padding: 2px 4px;
    font-weight: bold;
}

.Application .InGameUI > .Scene .Element:hover,
.Application .InGameUI > .Inventory .Item:hover {
    outline: 3px solid var(--HIGHLIGHT);
    box-shadow: 0;
}
.Application .InGameUI > .Scene .Element.Highlight,
.Application .InGameUI > .Inventory .Item.Highlight {
    outline: 3px solid #ff0000;
    box-shadow: 0;
}

.Application .InGameUI > .Dialog {

    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;

    background-color: rgba(255, 255, 255, 0.5);
}

/*

.Application>.Title {position: relative; text-align: center; color: #ffffff; background: #000000; line-height: var(--TITLEHEIGHT); font-size: 1em;}

.Application>.Scene, .Application .TextBox {
    position: relative;
    width: calc(var(--APPWIDTH) * 0.5 - var(--GAP) * 2);
    padding: var(--GAP);
    overflow: hidden;
    float: left;
    display: flex;
    flex-direction: column;
    gap: calc(var(--GAP) * 0.5);
}

.Application>.Scene {height: calc(var(--APPHEIGHT) - var(--TITLEHEIGHT) - var(--INVENTORYHEIGHT) - var(--GAP) * 2);}
.Application>.Scene>.Element {padding: 2px 5px; font-size: 0.8em;}
.Application>.Scene>.Element>.Name {font-weight: bold; margin-right: 5px;}
.Application>.Scene>.Element>.Info {font-style: italic;}
.Application>.Scene>.Element.Explored {color: #666666;}



.Application>.TextBox>.Message {font-size: 0.9em; color: #666666;}
.Application>.TextBox>.Message:first-child {color: #000000;}
.Application>.TextBox .Name {font-weight: bold;}
.Application>.TextBox .Name::after {content: ":";}
.Application>.TextBox .Text {text-align: justify;}

.Application .Highlight {text-shadow: -1px 0 #ff0000, 0 1px #ff0000, 1px 0 #ff0000, 0 -1px #ff0000;}

.Application .Inventory {
    position: relative;
    display: flex;
    width: calc(var(--APPWIDTH) - 20px); height: var(--INVENTORYHEIGHT);
    align-items: center;
    color: #ffffff;
    background: #000000;
    padding: 0px 10px;
}
.Application>.Inventory>.Item {}

*/
