
@import "../../lib/JST/dom/gui.css";

@import "./cursors.css";

@import "./transitions.css";
@import "./menu.css";
@import "./log.css";

:root {
    --APPWIDTH: 1000px;
    --APPHEIGHT: 700px;

    --INTRO_BLUR: 100px;

    /* COLORS */
    --HIGHLIGHT: rgba(255, 0, 0, 0.5);
}

html {background: linear-gradient(to top, #403b4a, #e7e9bb, #403b4a) no-repeat center center fixed; background-size: cover;}

.Application {

    width: var(--APPWIDTH);
    height: var(--APPHEIGHT);

    cursor: url(../../res/cursor/default.png) 4 4, default;
    font-family: sans-serif;
    background: #ffffff;
    border-radius: 10px;

}

.Application .InGameUI {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(5% - 5px) 1fr calc(10% - 5px);
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.Application .InGameUI > .Title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.Application .InGameUI > .Scene {
    grid-column-start: 1;
    grid-row-start: 2;
    border-right: 1px solid #000000;
    padding: 5px;

    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    gap: 10px;
    
}
.Application .InGameUI > .Scene .Element {
    display: block;
    width: 45%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 0.9em;
    padding-left: 5px;
}
.Application .InGameUI > .Scene .Element.Exit {
    animation: exit 0.8s infinite;
}
.Application .InGameUI > .Scene .Element.Look {
    cursor: url(../../res/cursor/look.png) 12 12, default;
}
.Application .InGameUI > .Scene .Element.Take {
    animation: take 0.8s infinite;
}
.Application .InGameUI > .Scene .Element.Talk {
    cursor: url(../../res/cursor/talk.png) 14 13, default;
}
.Application .InGameUI > .Scene .Element.Use {
    animation: use 0.5s infinite;
}
.Application .InGameUI > .Scene .Element .Name {
    display: block;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(255,255,255,0.5);
}
.Application .InGameUI > .Scene .Element .Information {
    display: block;
    font-style: italic;
    text-shadow: 0px -1px 0px rgba(255,255,255,0.5);
}

.Application .InGameUI > .Inventory {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    border-top: 2px solid #000000;
    margin-top: 5px;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    gap: 10px;
    align-content: flex-start;

}
.Application .InGameUI > .Inventory .Element {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 0.8em;
    padding: 2px 4px;
    font-weight: bold;
    border-radius: 5px;
}
.Application .InGameUI > .Inventory .Element .Name {
    text-shadow: 0px -1px 2px #ddd;
}

.Application .InGameUI > .Scene .Element:hover,
.Application .InGameUI > .Inventory .Element:hover {
    outline: 3px solid var(--HIGHLIGHT);
    box-shadow: none;
}
.Application .InGameUI > .Scene .Element.Highlight,
.Application .InGameUI > .Inventory .Element.Highlight {
    outline: 3px solid #ff0000;
    box-shadow: none;
}

.Application .Dialog {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 2.5%;
    align-items: center;
}
.Application .Dialog .Wrapper {
    height: 80%;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-top: 2.5%;
}
.Application .Dialog .Wrapper,
.Application .Dialog .Topics {
    background-color: rgba(255, 255, 255, 1);
    width: 90%;
    border-radius: 10px;
    display: flex;
}
.Application .Dialog .Conversation {
    height: 90%;
    padding: 2.5%;
    scrollbar-color: #888 #fff;
    scroll-behavior: smooth;
    overflow: auto;
    width: 95%;
    font-family: serif;
    display: flex;
    flex-direction: column;
}
.Application .Dialog .Conversation .Speech,
.Application .Dialog .Conversation .Sound,
.Application .Dialog .Conversation .Though {
    display: inline-block;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 1%;
    max-width: 75%;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.Application .Dialog .Conversation .Speech {
    border: 2px solid rgb(0, 0, 0);
}
.Application .Dialog .Conversation .Speech.AlignLeft::after,
.Application .Dialog .Conversation .Speech.AlignRight::after,
.Application .Dialog .Conversation .Speech.AlignLeft::before,
.Application .Dialog .Conversation .Speech.AlignRight::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.Application .Dialog .Conversation .Speech.AlignLeft::before,
.Application .Dialog .Conversation .Speech.AlignRight::before {
    border: var(--SIZE) solid transparent;
    --SIZE: 12px;
}
.Application .Dialog .Conversation .Speech.AlignLeft::before {
    border-right-color: rgb(0, 0, 0);
    left: calc(var(--SIZE) * -2);
}
.Application .Dialog .Conversation .Speech.AlignRight::before {
    border-left-color: rgb(0, 0, 0);
    right: calc(var(--SIZE) * -2);
}
.Application .Dialog .Conversation .Speech.AlignLeft::after,
.Application .Dialog .Conversation .Speech.AlignRight::after {
    border: var(--SIZE) solid transparent;
    --SIZE: 10px;
}
.Application .Dialog .Conversation .Speech.AlignLeft::after {
    border-right-color: #fff;
    left: calc(var(--SIZE) * -2);
}
.Application .Dialog .Conversation .Speech.AlignRight::after {
    border-left-color: #fff;
    right: calc(var(--SIZE) * -2);
}
.Application .Dialog .Conversation .Person {
    display: block;
    font-weight: bold;
}
.Application .Dialog .Conversation .AlignLeft {
    align-self: flex-start;
}
.Application .Dialog .Conversation .AlignCenter {
    align-self: center;
}
.Application .Dialog .Conversation .AlignRight {
    align-self: flex-end;
}
.Application .Dialog .Hint {
    color:rgba(0, 0, 0, 0.5);
}
.Application .Dialog .Topics {
    height: 10%;
}
