
.Application .InGameUI {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(5% - 5px) 1fr calc(10% - 5px);
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.Application .InGameUI > .Title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.Application .InGameUI > .Scene {
    grid-column-start: 1;
    grid-row-start: 2;
    border-right: 1px solid #000000;
    padding: 5px;

    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    gap: 10px;
    
}
.Application .InGameUI > .Scene .Element {
    display: block;
    width: 45%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 0.9em;
    padding-left: 5px;
}
.Application .InGameUI > .Scene .Element.Exit {
    animation: exit 0.8s infinite;
}
.Application .InGameUI > .Scene .Element.Look {
    cursor: url(../../res/cursor/look.png) 12 12, default;
}
.Application .InGameUI > .Scene .Element.Take {
    animation: take 0.8s infinite;
}
.Application .InGameUI > .Scene .Element.Talk {
    cursor: url(../../res/cursor/talk.png) 14 13, default;
}
.Application .InGameUI > .Scene .Element.Use {
    animation: use 0.5s infinite;
}
.Application .InGameUI > .Scene .Element .Name {
    display: block;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(255,255,255,0.5);
}
.Application .InGameUI > .Scene .Element .Information {
    display: block;
    font-style: italic;
    text-shadow: 0px -1px 0px rgba(255,255,255,0.5);
}

.Application .InGameUI > .Inventory {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    border-top: 2px solid #000000;
    margin-top: 5px;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    gap: 10px;
    align-content: flex-start;

}
.Application .InGameUI > .Inventory .Element {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 0.8em;
    padding: 2px 4px;
    font-weight: bold;
    border-radius: 5px;
}
.Application .InGameUI > .Inventory .Element .Name {
    text-shadow: 0px -1px 2px #ddd;
}

.Application .InGameUI > .Scene .Element:hover,
.Application .InGameUI > .Inventory .Element:hover {
    outline: 3px solid var(--HIGHLIGHT);
    box-shadow: none;
}
.Application .InGameUI > .Scene .Element.Highlight,
.Application .InGameUI > .Inventory .Element.Highlight {
    outline: 3px solid #ff0000;
    box-shadow: none;
}
