
.Application .TextPage {
    height: 90%;
}

.Application .TextPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    gap: 50px;
}

.Application .TextPage .Title {
    font-size: 2em;
}

.Application .TextPage .Text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Application .TextPage .Text span {
    text-align: justify;
}

.Application .TextPage .Hint {
    font-size: 90%;
    font-style: italic;
}

.Application .TextPage.Intro {
    color: #000000;
    background-color: #ffffff;
}
.Application .TextPage.Intro .Hint {
    color: rgba(0, 0, 0, 0.5);
}

.Application .TextPage.GameOver {
    color: #ffffff;
    background-color: #000000;
}
.Application .TextPage.GameOver .Hint {
    color: rgba(255, 255, 255, 0.5);
}
