
.Application .TextPage {
    height: 90%;
}

.Application .TextPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    gap: 50px;
}

.Application .TextPage .Title {
    font-size: 2em;
}

.Application .TextPage .Text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Application .TextPage .Text span {
    text-align: justify;
}

.Application .TextPage .Hint {
    color: rgba(0, 0, 0, 0.5);
    font-size: 90%;
    font-style: italic;
}

.Application .TextPage.Intro {

}

.Application .TextPage.GameOver {

}
